# --- Python ---
*.py[co]
*.egg
*.egg-info/
develop-eggs/
dist/
build/
wheelhouse/
dropin.cache
pip-log.txt
.installed.cfg
.coverage
tags
TAGS
.#*
__pycache__
.pytest_cache
.ruff_cache

src/evdev/*.so
src/evdev/ecodes.c
src/evdev/ecodes.pyi
docs/_build
src/evdev/_ecodes.py
src/evdev/_input.py
src/evdev/_uinput.py
