# --- Python ---
*.py[co]
*.egg
*.egg-info/
develop-eggs/
dist/
build/
wheelhouse/
dropin.cache
pip-log.txt
.installed.cfg
.coverage
tags
TAGS
.#*
__pycache__
.pytest_cache
.ruff_cache

evdev/*.so
evdev/ecodes.c
evdev/ecodes.pyi
docs/_build
evdev/_ecodes.py
evdev/_input.py
evdev/_uinput.py
