name: Lint

on:
  - push
  - pull_request

jobs:
  pylint:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.12"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Check for pylint errors
        run: |
          python -m pip install pylint
          python setup.py build
          python -m pylint --disable=no-member -E build/*/evdev
